<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cintsoft.biru.dao.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cintsoft.biru.model.Article">
        <id column="id" property="id" />
        <result column="title_zhongwen" property="titleZhongwen" />
        <result column="title_zangwen" property="titleZangwen" />
        <result column="type_id" property="typeId" />
        <result column="content_zhongwen" property="contentZhongwen" />
        <result column="content_zangwen" property="contentZangwen" />
        <result column="user_id" property="userId" />
        <result column="organization_id" property="organizationId" />
        <result column="weight" property="weight" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="extra" property="extra" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title_zhongwen, title_zangwen, type_id, content_zhongwen, content_zangwen, user_id, organization_id, weight, create_time, update_time, create_by, update_by, version, deleted, extra
    </sql>

</mapper>
