<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cintsoft.biru.dao.GzxxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cintsoft.biru.model.Gzxx">
        <id column="id" property="id" />
        <result column="sfzh" property="sfzh" />
        <result column="nd" property="nd" />
        <result column="yf" property="yf" />
        <result column="xm" property="xm" />
        <result column="dwmc" property="dwmc" />
        <result column="nscmc" property="nscmc" />
        <result column="gzlbmc" property="gzlbmc" />
        <result column="zwgz" property="zwgz" />
        <result column="jsdjgz" property="jsdjgz" />
        <result column="yzgz" property="yzgz" />
        <result column="jbgz" property="jbgz" />
        <result column="gwgz" property="gwgz" />
        <result column="xjgz" property="xjgz" />
        <result column="ssgyjlgz" property="ssgyjlgz" />
        <result column="gtgz" property="gtgz" />
        <result column="dzzxlgd" property="dzzxlgd" />
        <result column="nlsyxkjrygd" property="nlsyxkjrygd" />
        <result column="zzgzgd_a" property="zzgzgdA" />
        <result column="zzgzgd_b" property="zzgzgdB" />
        <result column="dzzxlfd" property="dzzxlfd" />
        <result column="nlsyxkjryfd" property="nlsyxkjryfd" />
        <result column="wnfd" property="wnfd" />
        <result column="jbgzxj" property="jbgzxj" />
        <result column="jxjt" property="jxjt" />
        <result column="xztsjt" property="xztsjt" />
        <result column="jhgz" property="jhgz" />
        <result column="ggblgz" property="ggblgz" />
        <result column="jtbt" property="jtbt" />
        <result column="tshybljt" property="tshybljt" />
        <result column="ggbljt" property="ggbljt" />
        <result column="zfbt" property="zfbt" />
        <result column="glzs" property="glzs" />
        <result column="bfje" property="bfje" />
        <result column="mybt" property="mybt" />
        <result column="qnjwf" property="qnjwf" />
        <result column="qtbt" property="qtbt" />
        <result column="yfgz" property="yfgz" />
        <result column="zfgjj" property="zfgjj" />
        <result column="yanglaobx" property="yanglaobx" />
        <result column="yiliaobx" property="yiliaobx" />
        <result column="sybx" property="sybx" />
        <result column="sds" property="sds" />
        <result column="sf" property="sf" />
        <result column="df" property="df" />
        <result column="fzf" property="fzf" />
        <result column="yxdsssf" property="yxdsssf" />
        <result column="kjzk" property="kjzk" />
        <result column="kjfdk" property="kjfdk" />
        <result column="zynj" property="zynj" />
        <result column="qtkk" property="qtkk" />
        <result column="kfgz" property="kfgz" />
        <result column="sfgz" property="sfgz" />
        <result column="dwdkxj" property="dwdkxj" />
        <result column="weight" property="weight" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="extra" property="extra" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sfzh, nd, yf, xm, dwmc, nscmc, gzlbmc, zwgz, jsdjgz, yzgz, jbgz, gwgz, xjgz, ssgyjlgz, gtgz, dzzxlgd, nlsyxkjrygd, zzgzgd_a, zzgzgd_b, dzzxlfd, nlsyxkjryfd, wnfd, jbgzxj, jxjt, xztsjt, jhgz, ggblgz, jtbt, tshybljt, ggbljt, zfbt, glzs, bfje, mybt, qnjwf, qtbt, yfgz, zfgjj, yanglaobx, yiliaobx, sybx, sds, sf, df, fzf, yxdsssf, kjzk, kjfdk, zynj, qtkk, kfgz, sfgz, dwdkxj, weight, create_time, update_time, create_by, update_by, version, deleted, extra
    </sql>

</mapper>
